
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Management_Layout.cshtml";
}

<div class="jumbotron">
    <h1>ようこそ Management Page</h1>
    <p class="lead">You can do anything here!</p>
</div>

<div class="LandingImgDiv">
    <img src="~/Content/Images/ManagementPhoto.jpg" class="LandingImg" />
</div>





