
<div class="LandingImgDiv">
    <img src="~/Content/Images/LabTest.jpg" class="LandingImg"/>
    <div class="LandingCatchDiv">
        <h2>The quickest results <br /> in the business</h2>
    </div>
</div>