@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
}
<div class="LandingImgDiv">
    <img src="~/Content/Images/LabTest.jpg" class="LandingImg"/>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="LandingCatchDiv">
            <h2>The quickest results <br /> in the business</h2>
        </div>
    </div>
</div>